*.*~
options.gypi
build/*
out/*
.scons*
*.o
*.pyc
.sconf_temp
config.log
api-docs
*.xcodeproj
monitoring-agent
.DS_Store
*.sln
*.vcxproj*
*.sdf
*.opensdf
tags
deps/openssl-configs/realized/openssl/*.h
monitoring.zip
monitoring-test.zip
*.sig
scheduler.state
._*
rpmbuild/*
agents/monitoring/default/util/version.lua
agents/monitoring/monitoring.rc