*.*~
platform.gypi
options.gypi
build/*
out/*
.scons*
*.o
*.pyc
.sconf_temp
config.log
api-docs
*.xcodeproj
virgo
.DS_Store
*.sln
*.vcxproj*
*.sdf
*.opensdf
tags
deps/openssl-configs/realized/openssl/*.h
*.sig
scheduler.state
._*
rpmbuild/*
virgo.rc
include/generated/*.h
*.mk
virgo_exports.c
*.dist
