[Unit]
Description=Rackspace Cloud Monitoring Agent
Documentation=http://www.rackspace.com/cloud/public/monitoring/

[Service]
ExecStart=/usr/bin/rackspace-monitoring-agent -l /var/log/rackspace-monitoring-agent.log

[Install]
WantedBy=multi-user.target
