<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <?define ProductVersion = $(var.VERSIONFULL) ?>
    <?define ProductName = "Rackspace Monitoring Agent" ?>
    <?define ProductDescription = "Rackspace Monitoring Agent is the component that runs on the monitored server." ?>
    <?define ProductServiceDescription = "Provides Rackspace Monitoring Agent. The agent can record disk, bandwidth, CPU usage, and more. Data collected from the agent goes into Rackspace Cloud Monitoring's systems." ?>
    <?define ProductAuthor = "Rackspace Hosting, Inc." ?>
    <?define ProductDir = $(var.PRODUCTDIR) ?>
    <?define RepoDir = $(var.REPODIR) ?>
<!--    <?define ProductDir = $(var.PRODUCTDIR) ?> -->
<!--    <?define ProductDir='C:\data\virgo\Debug' ?> -->
    <?define SourceDir = $(var.RepoDir) ?>
    <Product Name="$(var.ProductName)" Id="*" UpgradeCode="826873C9-1A63-4A05-98F4-95D8D8EF3507" Language="1033" Codepage="1252" Version="$(var.ProductVersion)" Manufacturer="$(var.ProductAuthor)">
        <Package Id="*" Keywords="Installer" Description="$(var.ProductName) Installer" Comments="$(var.ProductDescription)" Manufacturer="$(var.ProductAuthor)" InstallerVersion="200" Languages="1033" Compressed="yes" SummaryCodepage="1252" />
        <Upgrade Id="826873C9-1A63-4A05-98F4-95D8D8EF3507">
            <UpgradeVersion OnlyDetect="no" Property="PREVIOUSFOUND" Minimum="1.0.0.0" IncludeMinimum="yes" Maximum="99.0.0.0" IncludeMaximum="no" />
        </Upgrade>
        <InstallExecuteSequence>
            <RemoveExistingProducts Before="InstallInitialize" />
        </InstallExecuteSequence>
        <Media Id="1" Cabinet="RackspaceMonitoringAgentInstaller.cab" EmbedCab="yes" />

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder" Name="PFiles">
                <Directory Id="RAXMONAGENT" Name="$(var.ProductName)">
                    <Component Id="MainExecutable" Guid="F044290F-E32E-438D-8E1A-C628E0353BD4">
                        <File Id="RackspaceMonitoringAgentEXE"
                                Name="monitoring-rackspace.exe"
                                DiskId="1"
                                Source='$(var.ProductDir)\monitoring-agent.exe' KeyPath="yes">
                        </File>
                        <!--  Vital="yes" Removed until we can fixup more services integration. -->
                        <ServiceInstall Id="InstallRackspaceMonitoringAgent"
                            Name="$(var.ProductName)"
                            DisplayName="$(var.ProductName)"
                            Type="ownProcess"
                            Start="auto"
                            ErrorControl="normal"
                            Description="$(var.ProductServiceDescription)">
                  <!--
                  <util:ServiceConfig
                    FirstFailureActionType="restart"
                    SecondFailureActionType="restart"
                    ThirdFailureActionType="restart" />
                    -->
                        </ServiceInstall>
                        <ServiceControl Id="StartControlAgent" Name="$(var.ProductName)" Start="install" Wait="no" />
                        <ServiceControl Id="StopControlAgent" Name="$(var.ProductName)" Stop="both" Remove="uninstall" Wait="yes" />
                    </Component>
                    <Directory Id="PLUGINS" Name="plugins">
                    </Directory>
                </Directory>
            </Directory>
            <!--
            <Directory Id="CommonAppDataFolder" Name="CommonAppDataFolder">
              <Directory Id="RaxMonFolder" Name="Rackspace Monitoring">
                <Component Id="ExampleConfigFile" Guid="F875141D-191A-4219-B70F-E44BFCE437EE">
                  <File Id="example_config_file"
                        Name="rackspace-monitoring-agent-example.cfg"
                        Source="$(var.ProductDir)\..\pkg\monitoring\rackspace-monitoring-agent.cfg" />
                </Component>
            </Directory>
          </Directory>
          -->
        </Directory>
        <Feature Id="Complete" Level="1">
            <ComponentRef Id="MainExecutable" />
        </Feature>
    <Icon Id="agent_icon" SourceFile="$(var.ProductDir)\..\agents\monitoring\rackspace-monitoring-agent.ico" />
    <Property Id="ARPPRODUCTICON" Value="agent_icon" />
<!--
        <UI>
            <Dialog Id="GetRackspaceCreds" Width="370" Height="270">
                <Control Type="Edit" Id="username" Width="255" Height="15" X="40" Y="90" />
                <Control Type="Edit" Id="apikey" Width="255" Height="15" X="40" Y="150" />
            </Dialog>
            <UIText Id="Username">Username:</UIText>
        </UI> -->
        <Property Id="rackspace_username" />
        <Property Id="rackspace_apikey" />
    </Product>
</Wix>