<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{page.title}}</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="jumbotron text-center">
    <div class="container">
        <a href="https://monitoring.api.rackspacecloud.com/"><img height="258px" class="octo" src="http://b8445a772e021097c00b-3db83ef2055a625963844ece9e36fa2a.r30.cf1.rackcdn.com/cmlogo.svg" alt="Rackspace Cloud Monitoring"></a>
        <br />
        <h1>Rackspace Cloud Monitoring Agent</h1>
          <p class="lead">Built with the <a href="http://virgoagent.com/">Virgo Agent Toolkit</a></p>
    </div>
  </div>
  <div class="container-fluid">
    {{ content }}
  </div>
  <script type="application/javascript" src="js/jquery.min.js"></script>
  <script type="application/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>
