<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{page.title}}</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="jumbotron text-center">
    <div class="container">
        <a href="https://github.com/virgo-agent-toolkit"><img class="octo" src="images/logo-rackspace.png" alt="Rackspace Cloud Monitoring Agent"></a>
        <h1>Rackspace Cloud Monitoring Agent</h1>
          <p class="lead">The first monitoring agent to use the infrastructure provided by
<a href="https://github.com/virgo-agent-toolkit/virgo-base-agent">virgo-base-agent</a></p>
    </div>
  </div>
  <div class="container-fluid">
    {{ content }}
  </div>
  <script type="application/javascript" src="js/jquery.min.js"></script>
  <script type="application/javascript" src="js/bootstrap.min.js"></script>
</body>
</html>
